<div id="contact-anchor" class="footer-container">
  <div class="footer-row row-top">
    <div class="footer-col col-brand">
      <img src="/assets/images/logo.png" alt="Ian Marder" class="footer-logo">
       <p>Make stuff yourself, even if it's janky.</p>
      <p class="copyright">&copy; <span id="year"></span> Ian Marder</p>
    </div>
    <div class="footer-col col-empty">
      </div>
      <div class="footer-col col-cta">
     <a href="https://youtu.be/rEq1Z0bjdwc?t=6" target="_blank">Hello there</a><br><br>
      <a href="mailto:hellothere@ianmarder.com" class="footer-btn">Get In Touch</a>
      </div>
  </div>

  <div class="footer-row row-bottom">
    <div class="footer-col col-socials">
      <a href="#">LinkedIn</a>
      <a href="#">Instagram</a>
      <a href="#">Bluesky</a>
    </div>
    <div class="footer-col col-nav">
      <a href="/work/">Work</a>
      <a href="/about/">About</a>
    </div>
  </div>
</div>