<div class="header-container">
  <div class="logo">
    <a href="/"><img src="/assets/images/logo.png" alt="Ian Marder"></a>
  </div>

  <nav class="nav-menu">
    <a href="/work/">Work</a>
    <a href="/about/">About</a>
<a href="#contact-anchor">Contact</a>
    <a href="mailto:hellothere@ianmarder.com" class="nav-button">Contact Me</a>
  </nav>

  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</div>