<div class="header-container">
  <div class="logo">
    <a href="/"><img src="/assets/images/logos/IM-Wide-dark.svg" alt="Ian Marder"></a>
  </div>

  <nav class="nav-menu">
    <a href="/">Home</a>
    <a href="/work/">Work</a>
    <a href="/about/">About</a>
    <a href="mailto:hellothere@ianmarder.com" class="footer-btn">Contact</a>
    <a href="mailto:hellothere@ianmarder.com" class="nav-button mobile-contact">Contact</a>
  </nav>

  <div class="menu-toggle" id="mobile-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</div>