<nav class="project-nav">
  <span class="project-nav-label" 
  style="
  display: block;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--text-light);">
  
  Projects</span>
  <div class="project-pill-row">
    <a href="/work/achievers-rebrand/" class="project-pill">Achievers Rebrand</a>
    <a href="/work/achievers/" class="project-pill">Achievers Brand</a>
    <a href="/work/achievers-centre/" class="project-pill">AchieversCenter</a>
    <a href="/work/green-griffin/" class="project-pill">Green Griffin</a>
    <a href="/work/captivate-collective/" class="project-pill">Captivate Collective</a>
    <a href="/work/papillon-preserves/" class="project-pill">Papillon Preserves</a>
    <a href="/work/digital-lab/" class="project-pill">The Lab</a>
    <a href="/work/workshop/" class="project-pill">The Workshop</a>
  </div>
</nav>